/* It's done when the page uses universal, element, and class selectors in CSS.

It's done when the page features at least three colors in the design.

It's done when the page uses a single font and font family for all text.

It's done when the header is fixed to the top of the page on scroll.

Header links that display inline, including a contact link.*/

* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    background-color: cadetblue;
    height: 200vh;
}

main {
    padding: 80px;
}

header {
    display: inline;
    background-color: darkolivegreen;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}


nav {
    background-color: darkturquoise;
    text-align: right;
}

nav li {
    display: inline;
    margin-right: 20px;
}

.imageselection {
    margin: 50px auto;
    display: block;
}

img {
    border: 10px solid fuchsia;
    box-shadow: 10px 10px 10px green;
}

form {
    background-color: darkslateblue;
    width: fit-content;
    
}

fieldset {
    width: 400px;
    height: 50px;
    border: none;
    
}

p {
    float: right;
}

h2 {
    margin-top: 50px;
}

footer {
    width: 100%;
    height: 80px;
    background-color: firebrick;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
}


